table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

.container{
    /* table ditengah */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}